<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="onlineShopping.css" />
    <script src="https://kit.fontawesome.com/92b9bda1f1.js" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/snapshot/angular.min.js"></script>
</head>
<body>
    <div ng-app = "onlineShoppingApp" ng-controller="loginController">
        <div  class="login-page" ng-hide="hideLoginSignup">
            <div class="signup-div" ng-hide="hideLoginSignup">
                <button class="signup-button" ng-click="signUpClicked()" ng-show="showLogin">Signup</button>
            </div>
            <div class="login-form-container" ng-show="showLogin">
                <div class="div-container">
                    <label for="loginUsername" class="login-username-label labelUpclass">Username</label>
                    <input type="text" class="login-input" id="loginUsername"  ng-focus="labelUp()" ng-model="loginUsername"/><br>
                </div>
                <div class="div-container">
                    <label for="loginPassword" class="login-username-label" >Password</label>
                    <input   type="password" class="login-input" id="loginPassword" ng-focus="labelUp()" ng-model="loginPassword"/>
                    <p ng-show="showNoInputEnteredPW" class="error-msg" ng-bind="errorMsg"></p>
                </div>
                <button class="login-button" ng-click="loginClicked()">Login</button>
            </div>
            <div class="signup-form-container" ng-show="!showLogin" >
                <div class="div-container">
                    <label for="signupUsername" class="login-username-label labelUpclass">Create Username</label>
                    <input ng-model="createdUsername" type="text" class="login-input" id="signupUsername"  ng-focus="labelUp()"/>
                    <p ng-show="showNoInputEnteredUN" class="error-msg" ng-bind="errorMsg"></p>
                </div>
                <div class="div-container">
                    <label for="signupPassword" class="login-username-label" >Create Password</label>
                    <input ng-model="createdPassword" type="password" class="login-input" id="signupPassword" ng-focus="labelUp()"/>
                    <p ng-show="showNoInputEnteredPW" class="error-msg" ng-bind="errorMsg"></p>
                </div>
                <button class="login-button" ng-click="submitClicked()">Submit</button>
            </div>
        </div>
        <div ng-hide="!hideLoginSignup" class="product-page">
            <div class="navbar-container">
                <h1 class="website-heading">Shop & Loop</h1>
                <p ng-click="showHome()">Home</p>
                <input type="search" placeholder="Search" class="search-style" ng-model="searchInput" />
                <div class="cart-tab-container">
                    <p ng-click="showCart()">Cart</p>
                    <p>({{cartItemN}})</p>
                </div>
                
                <button class="logout-btn-style" ng-click="logoutClicked()">Logout</button>
            </div>
            <div class="products-container" ng-show="showProductsContainer">
                <div class="each-product-container" ng-repeat="eachProduct in products | filter : searchInput" >
                    <img src={{eachProduct.imageUrl}} class="product-image-style" alt={{eachProduct.title}} />
                    <p class="title-style">{{eachProduct.title}}</p>
                    <p class="price-style">{{eachProduct.price | currency : "₹" : 2}}</p>
                    <div class="rating-div">
                        <i class="fa-solid fa-star star-style"></i>
                        <span class="rating-style">{{eachProduct.rating}}</span>
                    </div>
                    <button class="addtocartbtn" ng-click="addToCartClicked(eachProduct.$$hashKey)" ng-hide="eachProduct.incart">Add to Cart</button>
                    <button class="removefromcartbtn" ng-click="removeFromCartClicked(eachProduct.$$hashKey)" ng-hide="!eachProduct.incart">Remove From Cart</button>
                </div>
            </div>
            <div class="carts-container" ng-show="showBigPictureCart">
                <div class="big-picture-container" >
                    <img src={{clickedPicture.imageUrl}} class="clicked-pic-image-style" alt={{clickedPicture.title}} />
                    <div class="big-picture-details-container">
                        <h1>{{clickedPicture.title}}</h1>
                        <p>{{clickedPicture.description}}</p>
                        <p>{{clickedPicture.price | currency : "₹" : 2}}</p>
                        <div class="quantity-container">
                            <button class="quantity-button" ng-click="minusClicked()">-</button>
                            <p>{{quantity}}</p>
                            <button class="quantity-button" ng-click="plusClicked()">+</button>
                        </div>
                        <button class="addtocartbtn ok-button" ng-click="addToCart(clickedPicture.$$hashKey)">OK</button>
                    </div>
                </div>
                <div class="each-product-container" ng-repeat="eachProduct in otherProducts | filter : searchInput" ng-hide="showProductsContainer">
                    <img src={{eachProduct.imageUrl}} class="product-image-style" alt={{eachProduct.title}} />
                    <p class="title-style">{{eachProduct.title}}</p>
                    <p class="price-style">{{eachProduct.price | currency : "₹" : 2}}</p>
                    <div class="rating-div">
                        <i class="fa-solid fa-star star-style"></i>
                        <span class="rating-style">{{eachProduct.rating}}</span>
                    </div>
                    <button class="addtocartbtn" ng-click="addToCartClicked(eachProduct.$$hashKey)">Add to Cart</button>
                </div>
            </div>
            <div class="cart" ng-show="showCartContainer">
                <div class="checkout-container">
                    <h1 class="total-style">Total : {{findTotal() | currency : "₹" : 2}}</h1>
                    <button class="removefromcartbtn" ng-click="checkoutClicked()">Checkout</button>
                </div>
                <div ng-show="nothingInCart">
                    <h1 ng-show="!cartCheckoutShow">Cart is Empty :(</h1>
                    <cart-Checkout ng-show="cartCheckoutShow"></cart-Checkout>
                </div>
                
                <div class="each-product-container" ng-repeat="eachProduct in cartItems">
                    <img src={{eachProduct.imageUrl}} class="product-image-style" alt={{eachProduct.title}} />
                    <p class="title-style">{{eachProduct.title}}</p>
                    <p class="price-style">{{eachProduct.price * eachProduct.quantity | currency : "₹" : 2}}</p>
                    <p class="title-style">Quantity : {{eachProduct.quantity}}</p>
                    <div class="rating-div">
                        <i class="fa-solid fa-star star-style"></i>
                        <span class="rating-style">{{eachProduct.rating}}</span>
                    </div>
                    <button class="removefromcartbtn" ng-click="removeFromCartIncart(eachProduct.$$hashKey)" ng-hide="!eachProduct.incart">Remove From Cart</button>
                </div><br>
                
            </div>

        </div>    
            
        
        

        
    </div>
    
    <script src="app.js"></script>
    <script src="main.controller.js"></script>
    <script src="onlineShopping.directive.js"></script>
</body>
</html>